﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <style>
        body {
            background: #F5F5F5;
        }

        #wrapper {
            background: #FFF;
            margin: 1em auto;
            width: 800px;
        }

        #container {
            padding: 1em;
        }
    </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
