{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">
        <h1>Product > {% if product.getId() <=0 %}Create{% else %}Edit{% endif %}</h1>
        <hr />
        <form method="post" action="{{ actionUrl }}">
            <input type="submit" name="submit" id="submit" value="Save" />
            <input type="button" name="cancel" id="cancel" value="Cancel" onclick="window.location='{{ url('productIndex') }}';" />
            <hr />
            <h4 style="color:red;">{{ errorsString|raw }}</h4>
            <div style="float:left; width: 50%">
                <fieldset>
                    <legend>Basic</legend>

                    <div class="row">
                        <div class="label">Product Code</div>
                        <input type="text" name="code" id="code" value="{{ product.getCode() }}" class="input" {% if product.getId() > 0 %}readonly="readonly"{% endif %} />
                        <input type="checkbox" name="active" id="active" value="1" class="checkbox" {% if product.getActive() %}checked="checked" {% endif %} /> Active
                    </div>

                    <div class="row">
                        <div class="label">Name</div>
                        <input type="text" name="name" id="name" value="{{ product.getName() }}" class="input" />
                    </div>

                    <div class="row">
                        <div class="label">Category</div>
                        <select name="category" id="category">
                            {% for category in categoryList %}
                            <option value="{{ category }}" {% if category==product.getCategory() %}selected="selected" {% endif %}>{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="label">Unit of Measure</div>
                        <select name="unit" id="unit">
                            {% for unit in unitList %}
                            <option value="{{ unit }}" {% if unit==product.getUnit() %}selected="selected" {% endif %}>{{ unit }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>
            </div>
            <div style="float:left; width: 50%">
                <fieldset>
                    <legend>Extra information</legend>

                    <div class="row">
                        <div class="label">Market price</div>
                        <input type="number" step="any" min="0" name="price" id="price" value="{{ product.getPrice() }}" class="input" />
                    </div>
                    <div class="row">
                        <div class="label">QOH</div>
                        <input type="number" step="any" min="0" name="quantityOnHand" id="quantityOnHand" value="{{ product.getQuantityOnHand() }}" class="input" />
                    </div>
                    <div class="row">
                        <div class="label">Notes</div>
                        <textarea name="note" id="note" class="input" rows="3" cols="5">{{ product.getNote() }}</textarea>
                    </div>
                </fieldset>
            </div>
            <div style="clear:both;"></div>
        </form>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    .label {
        float: left;
        width: 110px;
        text-align: right;
        padding-right: 5px;
    }

    .input {
        width: 170px;
        float: left;
    }

    .checkbox {
        float: left;
    }

    .row {
        padding: 5px 0;
        clear: both;
    }
</style>
{% endblock %}