{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">
        <h1>Product</h1>
        <hr />
        <input type="button" value="create" style="float:right;" onclick="window.location='{{ url('productCreate') }}';" />
        <form method="post" action="{{ url('productIndex') }}">
            <label>Product name</label>
            <input type="text" name="product" id="product" value="{{ search.productName }}" />
            &nbsp;&nbsp;&nbsp;
            <label>Category</label>
            <select name="category" id="category">
                <option value="">All</option>
                {% for category in categoryList %}
                <option value="{{ category }}" {% if category == search.categoryName %}selected="selected"{% endif %}>{{ category }}</option>
                {% endfor %}
            </select>
            &nbsp;&nbsp;&nbsp;
            <input type="submit" value="search" />
        </form>
        <div style="clear:both;"></div>
        <hr />
        <div>
            Found {{ products|length }} record(s)
        </div>
        <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>UOM</th>
                    <th>Quantity on hand</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.getCode() }}</td>
                    <td>{{ product.getName() }}</td>
                    <td>{{ product.getCategory() }}</td>
                    <td>{{ product.getPrice() }}</td>
                    <td>{{ product.getUnit() }}</td>
                    <td>{{ product.getQuantityOnHand() }}</td>
                    <td>
                        <input disabled type="checkbox" name="active" id="active" value="1" class="checkbox" {% if product.getActive() %}checked="checked" {% endif %} />
                    </td>
                    <td><a href="{{ url('productEdit', {'id': product.getId()}) }}">EDIT</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<style>
    table {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        width: 100%;
    }

        table th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
            text-align:left;
        }

        table td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>
{% endblock %}